version: 2.1
jobs:
  build:
    docker:
      - image: tiltdev/circleci-tilt:v0.13.0

    steps:
      - setup_remote_docker
      - checkout
      - run: apt install -y wget gpg
      - run: "wget -O- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.asc.gpg && \
              mv microsoft.asc.gpg /etc/apt/trusted.gpg.d/ && \
              wget https://packages.microsoft.com/config/debian/10/prod.list && \
              mv prod.list /etc/apt/sources.list.d/microsoft-prod.list"
      - run: apt update && apt install -y dotnet-sdk-3.1
      - run: with-kind-cluster.sh test/test.sh